# Ignore Visual Studio files
.vs/
*.VC.db
*.ipch

# Ignore compiled binaries and precompiled headers
Bin/
*.pch
*.obj
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk

# Ignore temporary and build files
Debug/
Release/
x64/
